@charset "UTF-8";

/* -------------------------------------------------------------------------- */

/* ajustes */

body,
html,
#home {
    height: 100%;
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------- */

/* body */

body {
    background: url(../imagens/capa.png),
        url(../imagens/ruido.png),
        -o-linear-gradient(40deg, #ff4169, #7c26f8);

    background: url(../imagens/capa.png),
        url(../imagens/ruido.png),
        linear-gradient(50deg, #ff4169, #7c26f8);

    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/* -------------------------------------------------------------------------- */

/* navbar */

nav {
    padding: 15px 0px !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #9bf0e1;
}

.navbar-toggler {
    border: none;
    padding: 0px;

}

.navbar-toggler:focus {
    box-shadow: none;
}

/* -------------------------------------------------------------------------- */

/* Butões */

.btn-custom {
    color: #fff;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    margin: 10px 15px;
}

.btn-color1 {
    background-color: #7c25f8;
}

.btn-color1:hover {
    background-color: #6207e3;
    color: #fff;
    border: none;
}

.btn-color2 {
    border: 2px solid #fff;
}

.btn-color2:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

/* -------------------------------------------------------------------------- */

/* Estrutura dos conteúdos */

#service {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#service h2, h3 {
    color: #7c25f8;
}

#resources{
    padding-top: 20px;
    padding-bottom: 20px;
}

#resources h2{
    color: #fff;
}

#resources h3{
    color: #9bf0e1;
}

#resources p{
    color: #fff;
}



.rotate{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}

/* -------------------------------------------------------------------------- */

/* Tipografia */

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #fff;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

/* -------------------------------------------------------------------------- */

/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
    float: right;
    display: inline;
    margin: 1px 1px;
}

footer a {
    text-decoration: none;

}

footer .icon{
    width: 38px;
}

/* -------------------------------------------------------------------------- */

/* media query */

/* Extra small */
@media (max-width: 576px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.6em;
    }

    p {
        font-size: 1.1em;
    }

    .btn-custom {
        font-size: 0.7em;
    }
}

/* Small */
@media (min-width: 576px) {
    h1 {
        font-size: 3em;
    }

    .btn-custom {
        font-size: 1em;
    }
}

/* Medium */
@media (min-width: 768px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 2em;
    }

    .nav-link{
        font-size: 1.2em;
    }
}

/* Large */
@media (min-width: 992px) {
    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 2.9em;
    }

    h3 {
        font-size: 2.4em;
    } 

    p {
        font-size: 1.3em;;
    }  
}

/* Extra large */
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 2.9em;
    }

    h3 {
        font-size: 2.4em;
    } 

    p {
        font-size: 1.3em;;
    }

    .btn-custom {
        font-size: 1.2em;
    }
}

/* Extra extra large */
@media (min-width: 1400px) {
    h1 {
        font-size: 7em;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
    } 

    p {
        font-size: 1.5em;;
    }
}